@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@keyframes floatUp {
  from {
    transform: translateY(50px);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-floatUp {
  animation: floatUp 0.5s ease-out forwards;
}

html {
  scroll-behavior: smooth;
}

@keyframes expandBorder {
  from {
    border-width: 0 0 0 0;
  }
  to {
    border-width: 0 2px 2px 2px;
  }
}

.expand-border {
  animation: expandBorder 1s ease-out forwards;
}

@keyframes expandBorderVertical {
  from {
    border-top-width: 0;
    border-bottom-width: 0;
  }
  to {
    border-top-width: 1px;
    border-bottom-width: 1px;
  }
}

.expand-border-vertical {
  animation: expandBorderVertical 1s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 1s forwards;
}

.fade-in-longer {
  animation: fadeIn 4s forwards;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 1s ease-out forwards;
}

.bg-gradient-gray-blue {
  background: linear-gradient(to bottom right, #1c2e5d, #ffffff);
}

@keyframes translateUp {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}

.animate-translateUp {
  animation: translateUp;
}

.white-filter {
  filter: brightness(0) invert(1);
}