.logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.2s ease-out;
    width: 3rem; /* Adjusted for smaller size */
    height: 3rem; /* Adjusted for smaller size */
}

.logo-square {
    position: absolute;
    width: 3rem; /* Adjusted for smaller size */
    height: 3rem; /* Adjusted for smaller size */
    border-radius: 0.25rem; /* Adjusted for smaller size */
    transition: transform 0.2s ease-out;
    transform-style: preserve-3d;
}

.side {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 0.25rem; /* Adjusted for smaller size */
}

.side-top {
    transform: rotateX(90deg) translateZ(1.5rem);
}

.side-right {
    transform: rotateY(90deg) translateZ(1.5rem);
}

.side-bottom {
    transform: rotateX(-90deg) translateZ(1.5rem);
}

.side-left {
    transform: rotateY(-90deg) translateZ(1.5rem);
}

.top-left {
    transform: rotate(45deg) translate(-1.75rem, -1.75rem);
}

.top-right {
    transform: rotate(45deg) translate(1.75rem, -1.75rem);
}

.bottom-left {
    transform: rotate(45deg) translate(-1.75rem, 1.75rem);
}

.bottom-right {
    transform: rotate(45deg) translate(1.75rem, 1.75rem);
}

.custom-blue-1 {
    background-color: #003cc1;
}

.custom-blue-2 {
    background-color: #001e5e;
}

.custom-blue-3 {
    background-color: #01319d;
}

.custom-blue-4 {
    background-color: #002880;
}

.transition-transform {
    transition: transform 0.2s;
}
